@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  body {
    height: 100%;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    background: hsl(257, 40%, 49%) url("https://svgshare.com/i/Jc_.svg")
      no-repeat !important;
    background-size: 100% 33vh !important;
  }
  #demoFont {
    font-family: "Poppins", sans-serif !important;
  font-size: 22px;
  color: #fcf9f9;
  letter-spacing: 4px;
  word-spacing: 0px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  padding: 21px 21px;
  border-radius: 20px;
  
  
    }
  
  #main-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-family: "Poppins", sans-serif !important;
    width: 50% !important;
    height: 200%;
    align-self: flex-start;
  }
  #social-div {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-family: "Poppins", sans-serif !important;
    width: 15% !important;
    align-self: flex-start;
    font-size: 24px !important;
  }
  body {
    height: 100%;
    background: hsl(257, 40%, 49%) url("https://svgshare.com/i/JaD.svg") !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    background-size: 100% 100vh !important;
  }

  #main-div {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #social-div {
    position: absolute;
    bottom: 1%;
  }
  #demoFont {
    font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  color: #fcf9f9;
  letter-spacing: 4px;
  word-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  padding: 21px 21px;
  border-radius: 20px;
  
  
    }
    .social-icons:hover{
      background-color: chocolate;
    }
}

#logo-img {
  padding-top: 11%;
  padding-bottom: 0%;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-family: "Poppins", sans-serif !important;
    width: 15% !important;
    align-self: flex-start;
    position: relative;
    bottom: 6%;
  }
  #demoFont {
    font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  color: #fcf9f9;
  letter-spacing: 4px;
  word-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  padding: 21px 21px;
  border-radius: 20px;
  
  
    }
    .social-icons:hover{
      background-color: chocolate;
    }
}
/*
@media only screen and (min-width: 320px) and (max-width: 991.98px) {
  h1{
  font-family: 'Poppins', sans-serif !important;
  width: 15% !important;
    align-self: flex-start;
    position: absolute;
    top: 1%;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  h1{
  font-family: 'Poppins', sans-serif !important;
  width: 15% !important;
    align-self: flex-start;
    position: absolute;
    top: 3%;
}
}

@media only screen and (min-width: 1200px) {
  h1{
  font-family: 'Poppins', sans-serif !important;
  width: 15% !important;
    align-self: flex-start;
    position: absolute;
    top: 2%;
}
*/

h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 24px !important;
}

#register-btn {
  color: hsl(257, 40%, 49%) !important;
  font-size: 16px !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.social-icons {
  font-size: 16px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 7px 10px 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#demoFont {
  font-family: "Poppins", sans-serif !important;
font-size: 35px;
color:lightcyan;
letter-spacing: 2px;
word-spacing: 0px;
font-weight: 700;
font-style: normal;
text-decoration: none;
display: inline-block;
padding: 21px 21px;
border-radius: 20px;


  }
  span{
    color: chocolate;
  }
  .social-icons:hover{
    background-color: chocolate;
  }
  li{
    font-weight: 700;
    color: whitesmoke;
    letter-spacing:0.5pt;
  }